* {
    margin: 0;
    padding: 0;
}
html {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(0, 0, 0);
    color: white
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
    text-align: center;
    background-color: blueviolet;
    color:white;
    border-bottom: 5px solid black;
    background: linear-gradient(90deg, #000000, #6a0dad, #000000);
    background-size: 300% 300%;
    animation: gradientAnimation 5s ease-in-out infinite;
}

nav {
    z-index: 3;
    width: 100vw;
    display: flex;
    height: 5vh;
    background-color: black;
    justify-content: space-around;
    top: 0;
    left: 0;
    position: fixed;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: black;
}
nav ul li {
    position: relative;
    margin: 0;
    padding: 0;
}
nav ul li a {
    padding: 10px 20px;
    display: block;
    transition: color 0.3s ease;
}
nav ul li .dropdown-menu {
    display: block;
    position: absolute;
    max-height: 0;
    overflow: hidden;
    background-color: black;
    top: 100%; 
    left: 0;
    min-width: 150px; 
    padding: 0;
    transition: max-height 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}
nav ul li .dropdown-menu li {
    margin: 0;
}
nav ul li .dropdown-menu li a {
    padding: 10px;
    border-bottom: 1px solid #333;
}
nav ul li .dropdown-menu li a:hover {
    background-color: #3b3b3b;
}
nav ul li.dropdown:hover .dropdown-menu {
    display: block;
    max-height: 300px;
}
.menu {
    align-content: center;
}
footer{
    display: flex;
    width: 100vw;
    padding: 10px;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    color: gray;
    background-color: transparent;
    z-index: 3;
}
nav a {
    color: white;
    position: relative;
    text-decoration: none;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;

}

nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width 0.3s ease;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
nav a:hover::after {
    width: 100%;
}
header h1{
    font-size: 48px;
    transition: 0.3s ease-out;
}
header h1:hover{
    text-shadow: 0 0 10px white, 0 0 20px white, 0 0 40px white;
}
h2 {
    text-align: center;
    padding: 10px;
    font-size: 24px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.badge {
    width: 24vw;
    height: 24vw;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.badge::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: inherit;
    background-position: inherit;
    background-repeat: inherit;
    background-image: inherit;
    z-index: 1;
    transition: filter 0.3s ease;
}

.band-name{
    position: absolute;
    color: white;
    text-shadow: -3px 3px 0 black;
    font-size: 2rem;
    text-transform: uppercase;
    opacity: 0;
    z-index: 2;
    transition: opacity 0.3s ease;
}
.badge:hover::before {
    filter: blur(4px);
}
.badge:hover .band-name{
    opacity: 1;
}

#Metallica {
    background-image: url(/refs/Metallica.jpg);
}
#Rammstein {
    background-image: url(/refs/rammstein.jpg);
}
#BlackSabbath {
    background-image: url(/refs/BlackSabbath.jpg);
}
#Ghost {
    background-image: url(/refs/ghost.jpg);
}
#BMTH {
    background-image: url(/refs/BringMeTheHorizon.jpg);
}
#SleepToken {
    background-image: url(/refs/sleep-token.jpg);
}
#Spiritbox{
    background-image: url(/refs/Spiritbox.jpg);
}
#Gojira {
    background-image: url(/refs/gojira.jpg);
}
#LinkinPark {
    background-image: url(/refs/LinkinPark.jpg);
}
#Korn {
    background-image: url(/refs/Korn.jpg);
}
#Slipknot {
    background-image: url(/refs/Slipknot.jpg);
}
#SOAD {
    background-image: url(/refs/Soad.jpg);
}
#Deftones {
    background-image: url(/refs/deftones.jpg);
}
#Evanescence {
    background-image: url(/refs/evanescensce.jpg);
}
#Disturbed {
    background-image: url(/refs/disturbed.jpg);
}
#LimpBizkit {
    background-image: url(/refs/LimpBizkit.jpg);
}
#Nirvana {
    background-image: url(/refs/Nirvana.jpg);
}
#Radiohead {
    background-image: url(/refs/Radiohead.png);
}
#TOP {
    background-image: url(/refs/TOP.jpg);
}
#NBT {
    background-image: url(/refs/NBT.jpg);
}
#RoyalBlood {
    background-image: url(/refs/Royalblood.jpg);
}
#Fontaines {
    background-image: url(/refs/Fontaines.jpg);
}
#Muse {
    background-image: url(/refs/Muse.jpg);
}
#EnterShikari {
    background-image: url(/refs/EnterShikari.jpg);
}
#DaftPunk {
    background-image: url(/refs/daftpunk.jpg);
}
#Justice {
    background-image: url(/refs/Justice.jpg);
}
#Madeon {
    background-image: url(/refs/Madeon.jpg);
}
#Gesaffelstein {
    background-image: url(/refs/Gesaffelstein.jpg);
}
#Porter {
    background-image: url(/refs/PorterRobinson.png);
}
#Deadmau5 {
    background-image: url(/refs/Deadmau5.jpg);
}
#Rezz {
    background-image: url(/refs/Rezz.jpg);
}
#Pendulum {
    background-image: url(/refs/pendulum.png);
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
