#Metallica {
    background-image: url(/refs/metallica/Metallica.jpg);
}
#Rammstein {
    background-image: url(/refs/rammstein/rammstein.jpg);
}
#BlackSabbath {
    background-image: url(/refs/blacksabbath/BlackSabbath.jpg);
}
#Ghost {
    background-image: url(/refs/ghost/ghost.jpg);
}
#BMTH {
    background-image: url(/refs/bmth/BringMeTheHorizon.jpg);
}
#SleepToken {
    background-image: url(/refs/SleepToken/sleep-token.jpg);
}
#Spiritbox{
    background-image: url(/refs/Spiritbox/Spiritbox.jpg);
}
#Gojira {
    background-image: url(/refs/Gojira/gojira.jpg);
}
#LinkinPark {
    background-image: url(/refs/Linkinpark/LinkinPark.jpg);
}
#Korn {
    background-image: url(/refs/Korn/Korn.jpg)
}
#Slipknot {
    background-image: url(/refs/slipknot/Slipknot.jpg);
}
#SOAD {
    background-image: url(/refs/SOAD/Soad.jpg);
}
#Deftones {
    background-image: url(/refs/Deftones/deftones.jpg);
}
#Evanescence {
    background-image: url(/refs/evanescence/evanescensce.jpg);
}
#Disturbed {
    background-image: url(/refs/Disturbed/disturbed.jpg);
}
#LimpBizkit {
    background-image: url(/refs/LimpBizkit/LimpBizkit.jpg);
}
#Nirvana {
    background-image: url(/refs/Nirvana/Nirvana.jpg);
}
#Radiohead {
    background-image: url(/refs/Radiohead/Radiohead.png);
}
#TOP {
    background-image: url(/refs/TOP/TOP.jpg);
}
#NBT {
    background-image: url(/refs/NBT/NBT.jpg);
}
#RoyalBlood {
    background-image: url(/refs/Royalblood.jpg);
}
#Fontaines {
    background-image: url(/refs/Fontaines.jpg);
}
#Muse {
    background-image: url(/refs/Muse.jpg);
}
#EnterShikari {
    background-image: url(/refs/EnterShikari.jpg);
}
#DaftPunk {
    background-image: url(/refs/daftpunk.jpg);
}
#Justice {
    background-image: url(/refs/Justice.jpg);
}
#Madeon {
    background-image: url(/refs/Madeon.jpg);
}
#Gesaffelstein {
    background-image: url(/refs/Gesaffelstein.jpg);
}
#Porter {
    background-image: url(/refs/PorterRobinson.png);
}
#Deadmau5 {
    background-image: url(/refs/Deadmau5.jpg);
}
#Rezz {
    background-image: url(/refs/Rezz.jpg);
}
#Pendulum {
    background-image: url(/refs/pendulum.png);
}
